// -----------------------------------------------------------------------------
// Contains the @keyframes definitions of all animations.
// -----------------------------------------------------------------------------

@keyframes splash__static_image {
  0% {
    background-image: url("../assets/tvsnow/tvsnow007.webp");
  }
  14% {
    background-image: url("../assets/tvsnow/tvsnow001.webp");
  }
  28% {
    background-image: url("../assets/tvsnow/tvsnow002.webp");
  }
  42% {
    background-image: url("../assets/tvsnow/tvsnow003.webp");
  }
  55% {
    background-image: url("../assets/tvsnow/tvsnow004.webp");
  }
  72% {
    background-image: url("../assets/tvsnow/tvsnow005.webp");
  }
  86% {
    background-image: url("../assets/tvsnow/tvsnow006.webp");
  }
  100% {
    background-image: url("../assets/tvsnow/tvsnow007.webp");
  }
}

@keyframes splash__glitch0 {
  0%   {
    transform: translate(-10px, 0) skew(30deg);
  }
  10% {
    transform: translate(0px, 0) skew(0deg);
  }
}

@keyframes splash__glitch1 {
  0%   {
    transform: translate(10px, 0) skew(-30deg);
  }
  10% {
    transform: translate(0px, 0) skew(0deg);
  }
}

@keyframes glitch1 {
  4%, 7.5%, 19%, 21% {
    margin-left: 0;
    margin-right: 0;
  }
  5%, 20% {
    margin-left: -4px;
    margin-right: 4px;
  }
}

@keyframes glitch2 {
  4%, 6%, 19%, 22.5% {
    margin-left: 0;
    margin-right: 0;
  }
  5%, 20% {
    margin-left: 4px;
    margin-right: -4px;
  }
}

@keyframes delayedDisplay {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0%, 15% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes blurFadeIn {
  0%, 15% {
    opacity: 0;
    filter: blur(1rem);
  }
  100% {
    opacity: 100%;
  }
}

// @keyframes slideUp-left {
//   0% {
//     opacity: 0%;
//     transform: translate(-20vw, 0);
//   }
//   100% {
//     opacity: 100%;
//   }
// }

// @keyframes slideUp-right {
//   0% {
//     opacity: 0%;
//     transform: translate(20vw, 0);
//   }
//   100% {
//     opacity: 100%;
//   }
// }


@keyframes slideUp {
  0% {
    transform: translateY(30vh);
  }
}

@keyframes slideUpFade {
  0% {
    opacity: 0%;
    transform: translateY(30vh);
  }
  100% {
    opacity: 100%;
  }
}

// @keyframes slideInLeft {
//   0% {
//     transform: translateX(-5rem);
//   }
// }

// @keyframes slideInRight {
//   0% {
//     transform: translateX(5rem);
//   }
// }
