// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
@use '../abstracts' as abst;

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100vh;
  width: 100vw; // avoids screen resize for existence of scrollbar
  overflow-x: hidden; // principalement pour la page 404 sur petits ecrans
}

body {
  margin: 0;

  background: radial-gradient(circle, #303030 0%, #252525 60%, #1b1917 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#root {
  // height: 100vh; // needed to keep footer at bottom but...
  height: auto; // needed to keep sticky navbar from disapearing
  display: flex;
  flex-direction: column;
  /* overflow-y: scroll; */
}

.blogphoto {
  max-width: 100%; /* p.s. rendre plus gros sur telephones... */
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 100vh;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  
  border-radius: abst.$border-radius;
  box-shadow: 0 0 10px 0px #0004;
}

// /**
//  * Basic styles for links
//  */
// a {
//   color: abst.$brand-color;
//   text-decoration: none;

//   @include abst.on-event {
//     color: abst.$text-color;
//     text-decoration: underline;
//   }
// }


hr {
  margin: 1rem 0;
  color: inherit;
  border: 1;
  opacity: 0.25;
}




