// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
@use '../abstracts' as *;

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  color-scheme: dark;
}

#root {
  // height: 100vh; // needed to keep footer at bottom but...
  height: auto; // needed to keep sticky navbar from disapearing
  display: flex;
  flex-direction: column;
}

html {
  // scrollbar-gutter: stable
  // overflow: auto;
}

html,
body {
  height: 100vh;
  width: 100vw; 
  // overflow-y: scroll;
  overflow-x: hidden; // principalement pour la page 404 sur petits ecrans
}

body {
  margin: 0;

  background: radial-gradient(circle, #303030 0%, #252525 60%, #1b1917 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;

  overflow-y: scroll; // Adds scrollbar gutter to short pages to stop resiging due to scrollbar
}

img.blogphoto {
  max-width: 100%; /* p.s. rendre plus gros sur telephones... */
  display: block;
  margin-inline: auto;
  max-height: 100vh;
  margin-top: 1rem;
  margin-bottom: 1.25rem;

  @include roundcorners();
}

// Breadcrumbs
/* Style the list */
ul.breadcrumb {
  margin: 2rem 0 -1rem -2.55rem;
  list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 1rem;
  content: "\003E";
}

/* Add a color to all links inside the list */
// ul.breadcrumb li a {

// }

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: var(--clr-gray-200);
}




// Navbar
/* Style the list */
ul.navbar {
  list-style: none;
  margin-left: -2.05rem;
}

/* Display list items side by side */
ul.navbar li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
ul.navbar li+li:before {
  padding: 1rem;
  content: "|";
}

/* Add a color on mouse-over */
ul.navbar li a:hover {
  color: var(--clr-blue-200);
}



// /**
//  * Basic styles for links
//  */
// a {
//   color: $brand-color;
//   text-decoration: none;

//   @include on-event {
//     color: $text-color;
//     text-decoration: underline;
//   }
// }


hr {
  margin: 1rem 0;
  color: inherit;
  border: 1;
  opacity: 0.25;
}




