// -----------------------------------------------------------------------------
// This file contains custumised CSS resets.
// -----------------------------------------------------------------------------

img {
  display: block;
  max-width: 100%;
  font-style: italic; /* In case alt-text is shown instead */
}
