/**
 * Basic typography style for copy text
 */
@use '../abstracts' as abst;

// body {
//   color: abst.$text-color;
//   font: normal 125% / 1.4 abst.$text-font-stack;
// }


a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

/* .centre {
    text-align: center;
} */

/* Titres de sections */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-weight: lighter; */
  letter-spacing: 0.1rem; 
  /* letter-spacing: 0.35rem;  */
  text-wrap: balance;
}

h1 {
  font-size: 5rem; /* was 6rem (96px) */
  text-transform: uppercase;
}

h2 {
  font-size: 3rem; /* 48px; */
}

h3 {
  font-size: 2rem; /* 32px; */
}

h4 {
  font-size: 1.5rem; /* 24px; */
}

h5 {
  font-size: 1rem; /* 16px; */
}

h6 {
  font-size: 0.875rem; /* 14px; */
}


.tiny {
  font-size: 0.7rem; /* 12px; */
}
.small {
  font-size: 0.875rem; /* 14px; */
}
.medium {
  font-size: 1.125rem; /* 18px; */
}



/* Citations */
.citation,
.source {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-weight: bolder;
}

.citation {
  font-size: 2rem;
  text-align: center;
  line-height: 1em;
  padding: 4rem 0 0;
  display: block;
  width: 99%; /* Evite d'avoir une barre de defillement en bas */
  transform: rotate(-1deg);
}

.source {
  font-size: 1.2rem;
  text-align: right;
  padding-right: 15%;
}

.guillemets {
  font-family: "Times New Roman", serif;
  font-size: 3.5em;
  padding: 0 1.3rem;
  vertical-align: -0.4em;
}