/**
 * Basic typography style for copy text
 */
@use '../abstracts' as *;

body {
  color: $text-color;
  // font: normal 125% / 1.4 abst.$text-font-stack;
  font-size: var(--fs-400);
  line-height: 1.2em;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

article{
  p {
    line-height: 1.7em;
  }
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  // color: var(--bs-secondary-color);
  text-align: left;
}

a {
  color: var(--clr-blue-100);
  font-weight: bold;
  text-decoration: none;
}

/* Titres de sections */
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  // font-weight: 500;
  // font-weight: lighter;
  line-height: 1.2;
  text-wrap: balance;
  padding-top: 0.5rem;
}

h1 {
  @include fs(var(--fs-800));
  text-transform: uppercase;
  line-height: 0.825em;
  @include mq(small){
    letter-spacing: 0.1rem;
  }
}

h2 {
  @include fs(var(--fs-600));
  line-height: 1.1em;
  @include mq(small){
    letter-spacing: 0.04rem;
  }
}

h3 {
  @include fs(var(--fs-500));
  font-style: italic;
  color: var(--clr-gray-200);
}

h4 {
  @include fs(var(--fs-400));
}

h5 {
  font-size: var(--fs-300);
}

h6 {
  font-size: var(--fs-200);
}


.medium {
  font-size: var(--fs-400);
}
.small {
  font-size: var(--fs-200);
}
.tiny {
  font-size: var(--fs-100);
}

.subheading {
  font-size: var(--fs-400);
  line-height: 1.2em;
  margin-bottom: 2rem;

  @include mq(medium){
    margin-bottom: 4rem;
  }
}

code {
  // color: hsl(203, 71%, 66%);
  color: var(--clr-blue-200);
}

.navbar {
  font-size: var(--fs-100);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  @include mq(small){
    font-size: var(--fs-300);
    letter-spacing: 0.4rem;
  }
    @include mq(medium){
    letter-spacing: 0.5rem;
  }
}





/* Citations */
.citation,
.source {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-weight: bolder;
  color: var(--clr-gray-200)
}

.citation {
  font-size: var(--fs-500);
  text-align: center;
  line-height: 1em;
  padding-top: 2rem;
  display: block;
  width: 99%; /* Evite d'avoir une barre de defillement en bas */
  transform: rotate(-1deg);
}

.source {
  font-size: var(--fs-400);
  text-align: right;
  padding-right: 15%;
  padding-bottom: 2rem;
}

.guillemets {
  font-family: "Times New Roman", serif;
  font-size: var(--fs-700);
  padding: 2rem 1.3rem;
  vertical-align: -0.4rem;
}