/**
TODO:
Revoir

.blog_header,
.blog_content,
.blog_about_card 


**/




/* Glitch */
/* 
h1 {
    color: rgba(0, 255, 0, 0.60);
}

h1:before, h1:after {
    content: "Accueil";
    position: absolute;
    left: 5%;
}

@keyframes glitch {
    2%, 64% {
        transform: translate(3px, 0) skew(0deg);
    }
    4%, 60% {
        transform: translate(-2px, 0) skew(0deg);
    }
    62% {
        transform: translate(0, 0) skew(5deg);
    }
}

h1:before {
    animation: glitchTop 1s linear infinite;
        clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
    color: rgba(255, 0, 255, 0.5);
    transform: translate(-3px, 0);
    animation: glitch 1s linear infinite;
}

h1::after {
    color: rgba(0, 255, 255, 0.5);
        transform: translate(3px, 0);
} */



/* .littledot {
  position:relative;
  right: 3rem;
  top: 3rem;
  z-index: -1;
  width: 5rem;
  opacity: 33%;
} */

