// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------
@use '../abstracts/breakpoints' as *;

/// Media Querry
/// @author Technophile
/// @param {String} $key - Sreen size
/// @link https://dev.to/dostonnabotov/media-queries-with-sass-mixins-and-maps-1ij6
@mixin mq($key) {
  $size: map-get($breakpoints, $key);

  @if ($size) {
    @media only screen and (min-width: $size) {
      @content;
    }
  } @else {
    @error '`#{$key}` does not exist in the $breakpoints';
  }
}


/// Left alignment fix for larger font sizes
/// @author Mathieu Lalonde
/// @param {String} $key - Font size
@mixin fs($key) {
  font-size: $key;
  margin-left: calc(-0.03 * $key);
}

@mixin roundcorners() {
  overflow: hidden;
  border-radius: 0.8rem;
  box-shadow: 0 0 10px 0px #0004;
}

// /// Event wrapper
// /// @author Harry Roberts
// /// @param {Bool} $self [false] - Whether or not to include current selector
// /// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
// @mixin on-event($self: false) {
//   @if $self {
//     &,
//     &:hover,
//     &:active,
//     &:focus,
//     &:focus-within {
//       @content;
//     }
//   } @else {
//     &:hover,
//     &:active,
//     &:focus,
//     &:focus-within {
//       @content;
//     }
//   }
// }

// /// Make a context based selector a little more friendly
// /// @author Kitty Giraudel
// /// @param {String} $context
// @mixin when-inside($context) {
//   #{$context} & {
//     @content;
//   }
// }

