/* ErrorPage */
.errortextbloc {
  padding: 2rem;
  width: 90%;
  margin-top: 5%;

  margin-left: auto;
  margin-right: auto;
}

/* BigDot */

.bigdot {
  display: flex;
  flex-direction: column;

  background: url(../assets/dot.svg) left top no-repeat;
  background-size: 160%;
  background-position-x: -20%;
  background-position-y: 6rem;

  width: 100vw;
  height: 100vh;
  left: 20%;
  top: 6rem;
}
