// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

@use "../base" as *;

.splash {
  background: black;
  min-height: calc(95vh - 4rem);

  display: grid;
  grid-template-rows: 1fr;
  justify-content: center; /* Align horizontal */
  align-items: center; /* Align vertical */
  line-height: normal;
}

.splash__text,
.splash__shadow {
  // Stack text layers
  grid-column: 1 / 1;
  grid-row: 1 / 1;

  // Style text
  font-size: clamp(3.2rem, 12vw, 20rem);
  font-weight: 500;

  // Put background inside text (2)
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding-top: minmax(0, 4rem);
}

.splash__text {
  // Make sure this text is above the shadow
  z-index: 2;

  // Set background (fill) image (1)
  background-image: url("../assets/tvsnow/tvsnow001.webp");
  background-position: center;

  // animate background (fill image) (3)
  @media (prefers-reduced-motion: no-preference) {
    animation-name: splash__static_image;
    animation-duration: 1s;
    animation-timing-function: steps(30, jump-start);
    animation-iteration-count: infinite;
  }

  // Style text
  text-shadow: var(--clr-blue-400) 1px 0 120px; // TODO: Check spread for smaller resolutions
}

.splash__shadow {
  text-shadow: var(--clr-blue-400) 0 0 20px;
}

// Add transition everytime the classname changes
// React alternates between two classnames to force css to be triggered
/* purgecss start ignore */

@media (prefers-reduced-motion: no-preference) {
  .splash__glitch0,
  .splash__glitch1 {
    animation-name: splash__glitch1;
    animation-duration: 0.9s;
    animation-timing-function: steps(30, jump-start);
    animation-iteration-count: 1;
  }
  .splash__glitch0 {
    animation-name: splash__glitch0;
  }
}

/* purgecss end  ignore */

.arrow {
  grid-column: 1 / 1;
  grid-row: 2 / 3;

  font-size: clamp(3.2rem, 5vw, 6rem);
  font-weight: 800;
  color: var(--clr-gray-400);
  text-align: center;

  // fade out arrow on scroll
  animation-name: fadeOut;
  animation-timeline: view();
}

.arrow--delay {
  @media (prefers-reduced-motion: no-preference) {
    animation-name: delayedDisplay;
    animation-duration: 12s;
    animation-iteration-count: 1;
  }
}

.splash--fade {
  background: linear-gradient(to bottom, black 0%, transparent 100%);
  padding-top: 20vh;
}

// TV static
@media (prefers-reduced-motion: no-preference) {
  .tv-static {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0%;
    // content: "";
    z-index: 100;
    pointer-events: none;

    background: repeating-radial-gradient(var(--clr-blue-700) 0 0.0001%, var(--clr-blue-200) 0 0.0002%) 50% 0/2500px 2500px,
      repeating-conic-gradient(#000 0 0.0001%, var(--clr-blue-200) 0 0.0002%) 60% 60%/2500px 2500px;
    background-blend-mode: difference;
    filter: blur(1.2px);

    animation: tv-static 1s 1 alternate;
    animation-timing-function: ease-out;
  }
}
