// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

@use "../base" as *;

.splash {
  background: black;
  min-height: 80vh;

  display: grid;
  grid-template-rows: 1fr;
  justify-content: center; /* Align horizontal */
  align-items: center; /* Align vertical */
  line-height: normal;
}

.splash__text,
.splash__shadow {
  // Stack text layers
  grid-column: 1 / 1;
  grid-row: 1 / 1;

  // Style text
  font-size: clamp(3.2rem, 12vw, 20rem);
  font-weight: 500;

  // Put background inside text (2)
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.splash__text {
  // Make sure this text is above the shadow
  z-index: 2;
  
  // Set background (fill) image (1)
  background-image: url("../assets/tvsnow/tvsnow001.jpg");
  background-position: center;
  // background-size: 1920px 1080px;
  
  // animate background (fill image) (3)
  animation-name: splash__static_image;
  animation-duration: 1s;
  animation-timing-function: steps(30, jump-start);
  animation-iteration-count: infinite;

  // Style text
  text-shadow: var(--clr-blue-400) 1px 0 150px; // TODO: Check spread for smaller resolutions
  // filter: blur(1px);
}

.splash__shadow {
  text-shadow: var(--clr-blue-400) 0 0 20px;
}

// Add transition everytime the classname changes
// React alternates between two classnames to force css to be triggered
/* purgecss start ignore */
.splash__glitch0,
.splash__glitch1 {
  animation-name: splash__glitch1;
  animation-duration: 0.9s;
  animation-timing-function: steps(30, jump-start);
  animation-iteration-count: 1;
}

.splash__glitch0 {
  animation-name: splash__glitch0;
}

// .splash__anim0,
// .splash__anim1 {
//   animation-name: splash__static_image, splash__glitch1;
//   animation-duration: 1s, 0.9s;
//   animation-timing-function: steps(30, jump-start), steps(30, jump-start);
//   animation-iteration-count: infinite, 1;
// }

// .splash__anim0 {
//     animation-name: splash__static_image, splash__glitch0;
// }
/* purgecss end  ignore */

.splash--fade {
  background: linear-gradient(to bottom, black 0%, transparent 100%);
  padding-top: 20vh;
}

// .headercontainer {
//   background-image: url("../assets/splashscreen.jpg");
//   background-size: cover;
//   background-repeat: no-repeat;
//   // background-attachment: fixed;
//   background-position: right 10% top 45%;
//   min-height: 99%;

//   @media (max-aspect-ratio: 9/12) {
//     // color: red;
//     background-position: left 20% top;

//     // Version Stretch:
//     // background-size: 230% 100%;
//     // background-position: right 8% top 45%;
//   }
// }

// .headercontainer {
//   position: relative;
//   overflow: hidden;
//   width: 100vw;
//   /* 16:9 Aspect Ratio (9/16 = 0.5625) */
//   // padding-top: 80vh;
//   // margin-bottom: 1.25rem;

//   border-color: aqua;
//   border-width: 2px;
//   min-height: 90vh;
//   height: 90vh;
//   max-height: 100vw;
//   & img {
//     width: 100vw;
//   }
// }

// .headercontents {
//   background-position: right;
//   background-size: cover;

//   /* clip-path: inset(30% 0 calc(70% - 5px) 0); */

//   /* position: absolute; */
//   top: 0;
//   left: 0;
//   right: 0;
//   height: 95vh;
//   max-height: 100vw;

//   text-align: left;
//   padding: 10vh 10%;
//   & img {
//     visibility: hidden;
//       @media (max-aspect-ratio: 9/12) {
//         visibility:visible;
//   }

//   }
// }

// @media (max-width: 768px) {
//   .headercontents {
//     background-image: url("../assets/statique.jpg");
//     background-position: left;
//   }
// }

/* @media (min-width: 768px) {

} */
