@use "../abstracts" as *;
@use "../base" as *;

.tvlogos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-inline: -0.6rem; // removes the img's outside margin
  margin-top: 3rem;
  margin-bottom: 3rem;

  @include mq(small) {
    justify-content: center;
  }

  & img {
    height: 1.28rem;
    margin: 0.5rem 0.6rem;
    filter: contrast(33%) brightness(125%) saturate(0%) sepia(15%) hue-rotate(180deg);

    @include mq(small) {
      height: 2rem;
      margin: 1rem;
    }
  }
}

.gemeaux {
  filter: 
    contrast(33%)
    brightness(130%)
    saturate(0%)
    sepia(15%)
    hue-rotate(180deg);
  height: 5rem;
  margin-bottom: 0.5rem;
}

// .wide-image-with-text-overlay {
//   padding-block: 0;
//   margin-top: 6rem;
//   margin-bottom: 6rem;
//   display: grid;

//   @include mq(medium) {
//     grid-template-columns:
//       minmax(var(--wrapper-padding-inline), 1fr)
//       minmax(0, $max-width)
//       minmax(var(--wrapper-padding-inline), 1fr);
//   }

//   /* ensure the image fills up the entire space available */
//   & > img {
//     grid-row: 1;
//     object-fit: cover;

//     width: 100%;
//     height: 18rem;

//     filter: 
//       contrast(75%)
//       brightness(32%)
//       hue-rotate(180deg)
//       sepia(33%)
//       hue-rotate(180deg)
//       blur(1px);
    
//     @include mq(medium) {
//       // max-height: 60vh;
//       @include roundcorners();
//     }

//     /* if the image is on the left, it covers the entire left half */
//     &:first-child {
//       grid-column: 1 / 1;

//       border-top-left-radius: 0;
//       border-bottom-left-radius: 0;

//       @include mq(medium) {
//         grid-column: 1 / 3;
//       }
//     }

//     /* if the image is on the right, it covers the entire right half */
//     &:last-child {
//       grid-column: 2 / -1;

//       border-top-right-radius: 0;
//       border-bottom-right-radius: 0;
//     }
//   }

//   & > :not(img) {
//     grid-row: 1;
//     grid-column: 1 / 1;
//     z-index: 2;

//     display: grid;
//     align-content: center;

//     @include mq(medium) {
//       grid-column: 2 / 3;
//     }
//   }
// }




:root {
  --wrapper-padding-inline: 1rem;
  --wrapper-max-width: 70rem;

  --section-padding-block: 3rem;
  --section-image-width: 90%;
  --section-image-margin: calc(100% - var(--section-image-width));
}

.portfolio-montage {
  margin-inline: auto; /* Center it in the viewport */
  margin-top: 5rem;
  margin-bottom: 5rem;
  align-items: center; /* Align vertical */
  display: grid;

  /* outermost columns emulate the spacing from the .wrapper
       while the two inner columns divide the rest of the space
       into two equal parts */
  grid-template-columns:
    minmax(var(--wrapper-padding-inline), 1fr)
    minmax(30%, calc(var(--wrapper-max-width) / 3))
    minmax(0, calc(var(--wrapper-max-width) / 6))
    minmax(30%, calc(var(--wrapper-max-width) / 3))
    minmax(var(--wrapper-padding-inline), 1fr);

  & h3, h2, div.videocontainer {
    margin: 0;
  }

  & h2 {
    padding-top: 0.25rem;
    padding-bottom: 0.75rem;
  }

  /* ensure the video fills up the entire space available */
  & > div.videocontainer {
    grid-column: 2 / 5;
    object-fit: cover;
    object-position: 50% 35%;

    margin: 1fr;

    @include mq(medium) {
      max-height: 50vh;

      /* if the video is on the left, it covers the entire left half */
      &:first-child {
        grid-column: 2 / 4;
      }

      /* if the video is on the right, it covers the entire right half */
      &:last-child {
        grid-column: 3 / 5;
      }
    }
  }


  /* match the section padding for the text blocks for consistency */
  & > :not(div.videocontainer) {
    padding-top: 1rem;

    /* make sure text doesn't touch the edge of the viewport 
       and the content is vertically centered */
    display: grid;
    align-content: center;
    justify-items: start;

    padding-inline: 1rem;
    grid-column: 2 / 5;

    /* if the non-image is first, place it in the second column
       (first column is empty to emulate the .wrapper) */
    &:first-child {
      grid-row: 2;

      @include mq(medium) {
        grid-column: 2 / 3;
        grid-row: 1;
        padding-left: 0;
        padding-right: 2rem;
      }
    }


    /* if the non-image is last, place it in the third column
       (fourth column is empty to emulate the .wrapper) */
    &:last-child {

      @include mq(medium) {
        grid-column: 4 / 5;
        padding-left: 2rem;     
        padding-right: 0;
      }
    }
  }
}