@use "../abstracts" as *;
@use "../base" as *;

.tvlogos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-inline: -0.6rem; // removes the img's outside margin
  margin-top: 1rem;
  margin-bottom: 1rem;

  @include mq(small) {
    justify-content: center;  
  }

  & img {
    height: 1.28rem;
    margin: 0.5rem 0.6rem;
    filter: contrast(33%) brightness(125%) saturate(0%) sepia(15%) hue-rotate(180deg);

    @include mq(small) {
      height: 2rem;
      margin: 1rem;
    }
  }
}

.gemeaux {
  filter: contrast(33%) brightness(125%) saturate(0%) sepia(15%) hue-rotate(180deg);
  height: 5rem;
}
