/* Labels */
.label {
    border-width: 10px;
    border: 1px solid #808080;
    border-radius: 0.2rem;
    font-size: 0.7rem;
    font-weight: bold;
    text-transform: capitalize;
    padding: 0.1rem 0.45rem;
    margin-right: 0.2rem; /* Space between labels */
    background-color: #002d61;
}

.labels {
    padding-bottom: 1.5rem;
}

.label_css, .label_ctf, .label_hdmi, .label_html, .label_pdf, .label_svg {
    text-transform: uppercase;
}


.label_audio {
    background-color: #5a591e;
}

.label_graphisme {
    background-color: #7e3a12;
}

.label_photo {
    background-color: #774f1a;
}

.label_video, .label_montage {
    background-color: #415224;
}

.label_web, .label_website, .label_css, .label_html {
    background-color: #0c5026;
}

.label_dev, .label_code {
    background-color: #3d0c50;
}

.label_tech {
    background-color: #500c23;
}
