/* Embeded Video Player */

.videocontainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (9/16 = 0.5625) */
  margin-top: 1rem;
  margin-bottom: 1.25rem;

  /* bg image  */
  background-image: url("../assets/statique.jpg");
  background-size: cover;
  border-radius: 0.8rem;

  box-shadow: 0 0 10px 0px #0004;
}

.videoplayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* Zoom in slightly to prevent background edges from showing */
    scale: 1.012;
}
