/* Embeded Video Player */
@use "../abstracts/" as *;

.videocontainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (9/16 = 0.5625) */
  margin-top: 3rem;
  margin-bottom: 3.25rem;

  /* bg image  */
  background-image: url("../assets/statique.jpg");
  background-size: cover;
  @include roundcorners();
}

.squarecontainer {
  @extend .videocontainer;
  padding-top: 0;
  width: 50vh;
  height: 50vh;
  margin-inline: auto;
}

.videoplayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  scale: 1.007;
}
