// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@use "../abstracts" as *; 

.head-logo {
    margin-inline: auto;
    width: clamp(12rem, 35%, 25rem)
}

div.en_tete {
    background-color: var(--clr-blue-500);
    background-image: url("../assets/statique.webp");
    background-position: center;
    background-size: cover;
    
    text-align: center;
    padding: 1rem;
}