

/* Navigation */
nav {
    text-align: center;
    padding: 15px 10px 0 10px;
    font-size: 0.7rem;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    background-color: black;
    color: antiquewhite;
    /* margin-bottom: '1rem'; */

    /* box-shadow: 0 0 10px 0px #0004; */

    position: sticky;
    top: 0px;
    z-index: 1;
}

nav a {
    opacity: 0.7;

    /* text-decoration: none;
    color: white; */
}

nav a:hover {
    opacity: 1;
    transition-duration: 0.5s;
}

span.spacer {
    padding-left: 1vw;
    padding-right: 1vw;
    margin: 0rem;
    letter-spacing: 0rem;
}
