/* Navigation */

@use "../abstracts" as *;

nav {
  text-align: center;
  background-color: black;

  // box-shadow: 0 0 10px 0px #0004;

  position: sticky;
  bottom: unset;
  top: -1px;
  z-index: 100;
}

.navbar a {
  color: var(--clr-gray-200);
  // text-decoration: none;
  padding: 1rem 0;
}

.navbar a:hover {
  transition-duration: 0.5s;
}

/* Style the list */
ul.navbar {
  list-style: none;
  margin-left: -2.7rem;
}

/* Display list items side by side */
ul.navbar li {
  display: inline;
}

/* Add a slash symbol (|) before/behind each list item */
ul.navbar li + li:before {
  padding: clamp(0.38rem, 2vw - 0.05rem, 1rem);
  content: "|";
  color: var(--clr-gray-400);

  @include mq(medium) {
    color: var(--clr-gray-500);
  }
}

/* Add color on mouse-over */
ul.navbar li a:hover {
  color: var(--clr-blue-200);
  text-shadow: var(--clr-blue-200) 0 0 0.5rem;
}
